<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a th:href="@{''(start=${page},sortField=publishedAt,order=asc,search=${search})}">
    <button type="button" >older first</button>
</a>
<a th:href="@{''(start=${page},sortField=publishedAt,order=desc,search=${search})}">
    <button type="button" >latest first</button>
</a>


<form th:action="@{/search}">
    <input type="text" th:name="search"/>
    <input type="submit" value="search"/>
</form>
  <div align="center" th:each="post : ${posts}">
      <div>
         <h1 th:text="${post.title}" >Title</h1>
         <div th:text="'Created: ' + ${#dates.format(post.createdAt, 'dd-MMM-yyyy')} + ' by '">Created by</div><div><a th:text="${post.author}">User</a></div>
         <h5 th:text="${post.excerpt}">Body</h5>

          <a th:href="@{'/post/' + ${post.id}}">
              <button type="button" th:text="Read">Read</button>
          </a>
     </div>
  </div>

<form th:action="@{/filter}">
    <select th:th:name="author" multiple>
        <option th:each="i : ${authors}" th:value="${i}" th:text="${i}"></option>
    </select>
    <select th:th:name="tags" multiple>
        <option th:each="i : ${tags}" th:value="${i}" th:text="${i}"></option>
    </select>
    <input type="submit" value="submit"/>
</form>

<a th:if="${page > 1}"
        th:href="@{''(start=${page-1},sortField=publishedAt,order=desc,search=${search})}">
    <button type="button" >previous</button>
</a>
<a th:if="${page < totalPages}"
        th:href="@{''(start=${page+1},sortField=publishedAt,order=desc,search=${search})}">
    <button type="button" >next</button>
</a>
<div align="right">
    <a th:href="@{/login}">Login</a>
</div>

<div align="right">
    <a th:href="@{/logout}">Logout</a>
</div>

</body>
</html>